.mainfooter {
	background-color: #232f3e;
	color: white;
	padding: 20px 50px;
}

.footerOptions {
	display: flex;
}
.footerOption {
	margin: 40px 60px;
}

.footerOption > h4 {
	font-weight: bold;
	margin-bottom: 5px;
}

.footerOption > p {
	font-weight: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.footerOption2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.footerOption2 > div {
	margin-left: 10px;
}

.mainfooter > p {
	text-align: center;
	font-size: 12px;
}

.backTop {
	border: 1px solid #303d4d;
	background-color: #1c242c;
	text-align: center;
	padding: 10px;
}

.backTop:hover {
	background-color: #303d4d;
}
.backTop > a {
	text-decoration: none;
	color: white;
	display: block;
}
